<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maarifa.tn.langui">

    <application
        android:name=".LanguiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>



        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.login.CreateAccountActivity"></activity>

        <activity
            android:name=".ui.shooseLanguage.LanguageDetailActivity"
            android:theme="@style/AppTheme.Detail"
            android:parentActivityName=".ui.shooseLanguage.ShooseLanguageActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shooseLanguage.ShooseLanguageActivity" />

        </activity>
        <activity android:name=".ui.shooseLanguage.ShooseLanguageActivity">
        </activity>
        <activity android:name=".ui.langageDetails.AddWordActivity"></activity>
        <activity android:name=".ui.langageDetails.AddGrammarRuleActivity"></activity>
        <activity android:name=".ui.progress.ProgressActivityDetail"></activity>
    </application>

</manifest>